
<lib-test-lib></lib-test-lib>

<!--<button (longClick)="onLongClickReleaseBtn1($event)"-->
<!--        [style]="{background: colors[btn1ColorIndex]}">Press Me at least 0.5s</button>-->

<!--<button (longClick)="onLongClickReleaseBtn2($event)"-->
<!--        [clickDelayMs]="1000"-->
<!--        [style]="{background: colors[btn2ColorIndex]}">Press Me at least 1s</button>-->

<!--<button (click)="onNormalClick($event)"-->
<!--        [style]="{background: colors[btn3ColorIndex]}">Normal Button</button>-->
